{
  "presets": [["env", {
    "targets": {
      "ie": 11
    },
    "modules": false
  }], "react"],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-intl", {
          "messagesDir": "./app_js/config/i18n/messages/"
        }]
      ]
    }
  }
}
